<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{40} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="by.issoft.filelogger" level="TRACE"/>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>